<div class="section-address">
	<div class="container">
		<h3>Contact</h3>
		<div class="info">
			<h5>Nhà Hàng Món Huế</h5>
			<div class="addr">178 Nguyễn Văn Trỗi, 8,Hồ Chí Minh, Việt Nam</div>
			<div class="phonenum">+84 8 2216 2208</div>
		</div>
		
		
	</div>
</div>
<div class="section-location">
	<div class="container">
		<h3>Location</h3>
		<div class="info">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31354.27800874228!2d106.66017995559987!3d10.789489255584428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175292f290ebfcb%3A0xa0d0ba200c0594d3!2zTmjDoCBIw6BuZyBNw7NuIEh14bq_!5e0!3m2!1svi!2s!4v1457779615215" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
	
</div>

