<div class="container">
	
	<div class="jumbotron">
	  <h1 class="display-3">Welcome Nha Hang Hue</h1>
	  <p class="lead">So much good food and fresh.</p>
	  <p class="lead">
	    <%= link_to "Contact", contact_path , class: "btn btn-primary btn-lg"%>
		<%= link_to "Menu", menu_path, class: "btn btn-primary btn-lg"%>
	  </p>
	</div>
</div>

