// Place all the styles related to the Menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.img-url-item{
	width: 100%
}
.desc{
	display: -webkit-box;
    line-height: 1.6;
    height: 79.6px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu-list{
	background-color: cornsilk;
}