// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;

}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}
.navbar{
	border-radius: 0px;
}

.section-address{
	width: 100%;
	background: darken(red,20%);
	color: white;
	padding: 40px 0px;
	text-align: center;
}
.section-location{
	width: 100%;
	background: darken(gray,20%);
	color: white;
	padding: 40px 0px;
	position: relative;
	.info{
		iframe{
			width: 100%;
		}
	}
	text-align: center;

}